.home-page-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;

    .form-container {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .result-container {
        margin-top: 3rem;
        display: flex;
        flex: 1;
        align-items: center;
        flex-direction: column;
    }
}

.raised-spam {
    font-size: 20px;
    margin-bottom: 2rem;
}